<ons-page>
  <ons-toolbar>
    <div class="center">MNIST Visualize Example</div>
  </ons-toolbar>
  <section class="contents">
    <canvas id="canvas"></canvas>
    <div class="buttons">
      <ons-button id="clear">CLEAR</ons-button>
      <ons-button id="evalute">EVALUTE</ons-button>
    </div>
    <p>
      <ons-row>
        <ons-col width="10em" style="text-align: center; line-height: 35px;">
          Step <span id="step_display">1000</span>
        </ons-col>
        <ons-col>
          <ons-range style="width: 90%;" id="step_seekbar" min="1000" max="20000" step="1000" value="1000"></ons-range>
        </ons-col>
      </ons-row>
    </p>
    <section>
      <p>予測：<span id="inference">-</span></p>
      <canvas id="percentages"></canvas>
    </section>
    <section id="log">
    </section>
  </section>
</ons-page>
