<ons-page>
  <ons-toolbar>
    <div class="center">MNIST Visualize Example</div>
  </ons-toolbar>
  <section class="contents">
    <canvas id="canvas"></canvas>
    <div class="buttons">
      <ons-button id="clear">CLEAR</ons-button>
      <ons-button id="evalute">EVALUTE</ons-button>
    </div>
    <p>
      <ons-row>
        <ons-col width="10em" style="text-align: center; line-height: 35px;">
          Step <span id="step_display">1000</span>
        </ons-col>
        <ons-col>
          <ons-range style="width: 90%;" id="step_seekbar" min="1000" max="20000" step="1000" value="1000"></ons-range>
        </ons-col>
      </ons-row>
    </p>
    <section>
      <p>予測：<span id="inference">-</span></p>
      <table>
        <tr><th></th><th>%</th></tr>
        <tr><td>0</td><td id="inference-0">-</td></tr>
        <tr><td>1</td><td id="inference-1">-</td></tr>
        <tr><td>2</td><td id="inference-2">-</td></tr>
        <tr><td>3</td><td id="inference-3">-</td></tr>
        <tr><td>4</td><td id="inference-4">-</td></tr>
        <tr><td>5</td><td id="inference-5">-</td></tr>
        <tr><td>6</td><td id="inference-6">-</td></tr>
        <tr><td>7</td><td id="inference-7">-</td></tr>
        <tr><td>8</td><td id="inference-8">-</td></tr>
        <tr><td>9</td><td id="inference-9">-</td></tr>
      </table>
    </section>
    <section id="log">
    </section>
  </section>
</ons-page>
