<ons-page>
  <ons-toolbar>
    <div class="center">MNIST Visualize Example</div>
  </ons-toolbar>
  <ons-bottom-toolbar>
    <ons-row class="step_config_bar">
      <ons-col>
        Step <span id="step_display">1000</span>
      </ons-col>
      <ons-col>
        <ons-range id="step_seekbar" min="1000" max="20000" step="1000" value="1000"></ons-range>
      </ons-col>
    </ons-row>
  </ons-bottom-toolbar>
  <section class="contents">
    <canvas id="canvas"></canvas>
    <div class="buttons">
      <ons-button id="clear">CLEAR</ons-button>
      <ons-button id="evalute">EVALUTE</ons-button>
      <ons-progress-circular indeterminate id="progress"></ons-progress-circular>
    </div>
    <section>
      <div class="center">
        <div>予測</div>
        <div id="inference">-</div>
      </div>
      <canvas id="results"></canvas>
    </section>
    <section id="log">
    </section>
  </section>
</ons-page>
