width-limits()
  min-width 20em
  max-width 40em
  margin 0 auto

.ornew
  section.contents
    width-limits()
    padding 1em

  canvas
    display block
    width 280px
    height 280px
    padding 0
    margin 1em auto

  .buttons
    display flex
    justify-content center
    .button
      margin 0 1em

  .contents
    .center
      margin 1em 0
      text-align center

  .progress-circular
    transition opacity .3s

  .step-config
    width-limits()
    margin-top 3px
    line-height 36px
    ons-col
      text-align center
    ons-range
      width 90%

#canvas
  border dashed 1px gray

#log
  time
    color gray
    margin 0 1em

#inference
  font-size 3em

#step-display
  display inline-block
  width 3em
  text-align right

#test-results
  table
    margin 0 auto
  th
    width 30px
    height 30px
  td
    overflow hidden
    width 30px
    height 30px
    font-size 6px
    border 1px solid
    border-radius 30px
    text-align center

