section.contents
  min-width 20em
  max-width 40em
  margin 0 auto
  padding 1em

canvas
  display block
  width 280px
  height 280px
  padding 0
  margin 1em auto

td
  min-width 3em

.buttons
  display flex
  justify-content center
  .button
    margin 0 1em

.canvas
  border solid 1px #000

#step_display
  display inline-block
  width 5em

