<ons-page>
  <ons-toolbar>
    <div class="center">MNIST Visualize Example</div>
  </ons-toolbar>
  <section id="contents" class="contents">
    <div class="buttons">
      <ons-button id="button_start">START</ons-button>
      <ons-button id="button_cancel">CANCEL</ons-button>
    </div>
    <section>
      <div class="center">
        <div>精度</div>
        <div id="accuracy">-</div>
      </div>
      <canvas id="canvas_test_results">
      </canvas>
    </section>
    <section id="test_sample">
    </section>
    <section id="log">
    </section>
  </section>
</ons-page>
