<section id="app">
  <h1>
    {{ title }}
  </h1>
  <div class="buttons">
    <button raised @click="start_training" :disabled="ui.buttons.start">訓練を開始する</button>
    <button raised @click="cancel_training" :disabled="ui.buttons.cancel">訓練を中断する</button>
  </div>
  <div v-if="status">{{ status }}</div>
  <section v-if="test.logs.length > 0">
    <h3>テスト結果 （{{ test.logs[test.logs.length - 1].step }}ステップ目）</h3>
    <div class="accuracy">
      <span>正答率</span>
      <span class="per">{{ test.logs[test.logs.length - 1].accuracy }}%</span>
    </div>
    <div class="samples">
      <template v-for="(sample, i) in sampleTestData">
        <div :class="test.labels[i + ui.sample.start] == sample ? 'true' : 'false'">
          <img :src="'/img/test/' + (i + ui.sample.start) + '.png'" />
          <span>{{ sample }}</span>
        </div>
      </template>
    </div>
    <div>テスト結果 {{ui.sample.start}} - {{ui.sample.start + ui.sample.size}} 件目を表示中</div>
    <div class="buttons">
      <button colored @click="prev">前</button>
      <span>|</span>
      <button colored @click="next">次</button>
    </div>
  </section>
  <section>
    <h2>ソースコード(モデル部分)</h2>
    <p>
    <a href="http://ornew.net/tensorflow-deep-mnist-for-experts" target="_blank">チュートリアルに基づいています。</a>
    </p>
    <pre><code class="python">import tensorflow as tf

def inference(x, keep_prob):
  def weight_variable(shape):
    initial = tf.truncated_normal(shape, stddev=0.1)
    return tf.Variable(initial)

  def bias_variable(shape):
    initial = tf.constant(0.1, shape=shape)
    return tf.Variable(initial)

  def conv2d(x, W):
    return tf.nn.conv2d(x, W, strides=[1, 1, 1, 1], padding='SAME')

  def max_pool_2x2(x):
    return tf.nn.max_pool(x, ksize=[1, 2, 2, 1],
        strides=[1, 2, 2, 1], padding='SAME')

  W_conv1 = weight_variable([5, 5, 1, 32])
  b_conv1 = bias_variable([32])
  x_image = tf.reshape(x, [-1,28,28,1])
  h_conv1 = tf.nn.relu(conv2d(x_image, W_conv1) + b_conv1)
  h_pool1 = max_pool_2x2(h_conv1)
  W_conv2 = weight_variable([5, 5, 32, 64])
  b_conv2 = bias_variable([64])
  h_conv2 = tf.nn.relu(conv2d(h_pool1, W_conv2) + b_conv2)
  h_pool2 = max_pool_2x2(h_conv2)
  W_fc1 = weight_variable([7 * 7 * 64, 1024])
  b_fc1 = bias_variable([1024])
  h_pool2_flat = tf.reshape(h_pool2, [-1, 7*7*64])
  h_fc1 = tf.nn.relu(tf.matmul(h_pool2_flat, W_fc1) + b_fc1)
  h_fc1_drop = tf.nn.dropout(h_fc1, keep_prob)
  W_fc2 = weight_variable([1024, 10])
  b_fc2 = bias_variable([10])
  y_conv = tf.matmul(h_fc1_drop, W_fc2) + b_fc2
  return y_conv

def train(inference, label):
  cross_entropy = tf.reduce_mean(tf.nn.softmax_cross_entropy_with_logits(inference, label))
  tf.summary.scalar("cross_entropy", cross_entropy)
  return tf.train.AdamOptimizer(1e-4).minimize(cross_entropy)

def accuracy(inference, label):
  correct_prediction = tf.equal(tf.argmax(inference,1), tf.argmax(label,1))
  return tf.reduce_mean(tf.cast(correct_prediction, tf.float32))</code></pre>
  </section>
  <section class="logs">
    <template v-for="log in logs">
      <p :class="log.type">{{ log.message }}</p>
    </template>
  </section>
</section>
