<section id="app">
  <h1>
    {{ title }}
  </h1>
  <div class="buttons">
    <button @click="start_training" :disabled="ui.buttons.start">START</button>
    <button @click="cancel_training" :disabled="ui.buttons.cancel">CANCEL</button>
  </div>
  <section v-if="test.logs.length > 0">
    <div>Accuracy</div>
    <div>{{ test.logs[test.logs.length - 1].accuracy }}%</div>
    <div class="samples">
      <template v-for="(sample, i) in sampleTestData">
        <div :class="test.labels[i + ui.sample.start] == sample ? 'true' : 'false'">
          <img :src="'/img/test/' + (i + ui.sample.start) + '.png'" />
          <span>{{ sample }}</span>
        </div>
      </template>
    </div>
  </section>
  <section class="logs">
    <template v-for="log in logs">
      <p :class="log.type">{{ log.message }}</p>
    </template>
  </section>
</section>
